---
layout: default
---

<div class="content">
	<ul class="project">
	  {% for project in site.projects %}
	    <li>
	    	<h2 class="project-header">{{ project.name }}</h2>
	    	<i class="fa fa-archive post-icon"></i>
	    	<a href="{{ project.url | upcase }}" title="{{ project.title }}">{{ project.title }}</a> » <span>for {{project.customer}} on {{ project.date | date_to_string }}</span>
			{% for tag in project.tags %}
				<a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
			{% endfor %}
		</li>
	  {% endfor %}
	</ul>
</div>