<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
	
	{% if page.url == "/404.html" %}
    	<meta http-equiv="refresh" content="5; url=/">
	{% endif %}
</head>

<body>
	<script src="/scripts/scripts.js"></script>

	<div class="container-fluid sitecontent">
		<div class="container header">
			<img class="img-responsive center-block" src="https://s-media-cache-ak0.pinimg.com/736x/84/70/d6/8470d6640f3b88706fbcc4a1c62df5c1.jpg" alt="Nechalis"></img>
		</div>
		<div class="container-fluid menucontainer">
			<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				{% include menu.html %}
			</div>
			<div class="col-md-2"></div>
			</div>
		</div>
		<div class="container allcontent">
			{{ content }}
		</div>		
	</div>

	{% include footer.html %}
</body>
</html>